# ESP-IDF 默认配置 (ES3C28P: ESP32-S3, 240x320 ILI9341V + FT6336)
CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_FREERTOS_HZ=1000

# Flash 大小 (按实际板子调整, 常见 16MB)
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# 主串口波特率
CONFIG_ESP_CONSOLE_UART_BAUDRATE_115200=y

# 开启 C++ 异常 / RTTI (如需)
CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_COMPILER_CXX_RTTI=y

# PSRAM (S3 通常带 8MB Octal PSRAM)
CONFIG_SPIRAM=y
